body
{
  background: $ffffff;
  height: 99%;
  margin: 0;
  padding: 0;
  line-height: 150%;
  text-align: justify;
  text-justify: inter-word;
}

*
{
  font-size: 11pt; 
  font-family: Tahoma, Verdana, sans-serif; 
  color: #000000;
}

#mainContentArea
{
  margin: 0 auto 0 auto; 
  display: table; 
  height: 100%;  
  position: relative; 
  overflow: hidden; 
  width: 800px;
}

#title
{
  width:795px;
  margin-right:20px;
  margin-top:15px;
  margin-bottom: 30px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:23px;
  font-weight:bold;
  text-align:center;
  line-height:150%;
  float:center;
}

#authors
{
  width 700px;
  float: center;
  text-align: center;
  margin-bottom: 30px;
  opacity: 0.6;
}

.link,.linkActive
{
  width:75px;
  margin-right:10px;
  float: left;
  margin-top:24px;
  text-align:center;
  font-family:Georgia, "Times New Roman", Times, serif;
  background-image:url(tab.gif);
  position:relative; 
  bottom:0px;
}

.contentTitle
{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#213E74;
  font-size:20px;
  margin-left:15px;
  margin-right:12px;
  margin-top: 25px;
  margin-bottom:25px;
  width:750px;
}

.secondTitle
{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#blueBox
{
  position: relative;;
  vertical-align: middle;
  background-color:#E7EDF8;
  width:870px;
  clear:both;
  border-radius: 20px;
  padding: 5px;
}

.pageContent
{
  width: 800px;
  margin-left: 35px;
  margin-right: 25px;
}

.logos
{
  position: relative;
  margin-top: 20px;
}

#footer
{
  text-align: center;
}

code 
{
	  display: block;
	    white-space: pre-wrap   
}

#code
{
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
  background: #eeeeee;
  border: 1px solid #888888;
  color: black;
  padding: 1em;
  margin: 5px;
}
